*.iml
.gradle
.idea
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/*/build/
/core/packageManager/shizuku/kotzilla.json
/kotzilla.json
/gradle/build-logic/convention/build/
